<header class="sticky-top header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand titol" href="/src/index.html"
                ><span class="me-3"><i class="fa-solid fa-music"></i></span>
                L'ullera de Bangkok</a
            >
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarHeader"
                aria-controls="navbarHeader"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div
                class="collapse navbar-collapse justify-content-end"
                id="navbarHeader"
            >
                <ul class="navbar-nav mb-2 mb-md-0 justify-content-sm-center">
                    <li class="nav-item">
                        <a
                            id="botoInici"
                            class="nav-link"
                            aria-current="page"
                            href="/src/index.html"
                            >Inici</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            id="botoMembres"
                            class="nav-link"
                            href="/src/membres.html"
                            >Membres</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            id="botoNoticies"
                            class="nav-link"
                            href="/src/noticies.html"
                            >Notícies</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            id="botoContacte"
                            class="nav-link"
                            href="/src/contacte.html"
                            >Contacte</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
